
{
  "host": "https://gsdk.sdevggame.com/",
  "cdn": "https://gcdn.sdevggame.com/",
  "gameCode": "FZHFVN",
  "yf_login": "sdevlo",
  "yf_pay": "sdevpo",
  "yf_appsmobile": "sdevdp",
  "lang": "VN",
  "pay_type": "2025"

}
